.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #181e29; /* Темный фон поля */
  border: 1px solid #2d3545;
  border-radius: 12px;
  padding: 0 16px;
  width: 100%; /* Растягивается внутри родителя */
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.input-wrapper:focus-within {
  border-color: #726cee;
}

.search-icon {
  color: #555d6e;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  flex-shrink: 0;
}

.custom-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 14px 0;
  font-family: 'Inter', sans-serif;
}

.custom-input::placeholder {
  color: #555d6e;
}