.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #121217; /* Темный фон шапки */
  border-bottom: 1px solid #222;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover, .nav-link.active {
  color: white;
}

.active {
  color: white;
}

.badge {
  background-color: #6a5acd;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 5px;
}

.header-auth {
  display: flex;
  align-items: center;
} 